.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px; /* Сокращённые отступы для компактности */
  background-color: #ffffff;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-image {
  height: 25px; /* Увеличенный логотип Jetour */
  margin-right: 5px;
}

.header__divider {
  font-size: 25px; /* Увеличенный разделитель */
  color: #333;
  margin: 0 20px;
}

.header__rolf-logo {
  height: 25px; /* Увеличенный логотип Рольф */
}

.header__jetour-logo {
  height: 25px; /* Увеличенный логотип Рольф */
}

.header__contact {
  display: flex;
  align-items: center;
}

.header__phone {
  font-size: 18px; /* Увеличенный шрифт номера телефона */
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

.header__phone:hover {
  color: #f14c4c;
}

.header__callback-button {
  background-color: #4CAA93;
  color: #fff;
  border: none;
  border-radius: 10px; /* Больше скругление кнопки */
  padding: 13px 39px; /* Увеличенные отступы */
  font-weight: bold;
  font-size: 18px; /* Увеличенный шрифт кнопки */
  cursor: pointer;
  transition: background-color 0.3s;
}

.header__callback-button:hover {
  background-color: #3d8875;
}

.bunner__callback-button {
  background-color: #fff;
  color: #4d4d4d;
  border: none;
  border-radius: 10px; /* Больше скругление кнопки */
  padding: 13px 39px; /* Увеличенные отступы */
  font-weight: bold;
  font-size: 18px; /* Увеличенный шрифт кнопки */
  cursor: pointer;
  transition: background-color 0.3s;
}

.bunner__callback-button:hover {
  background-color: #e0e0e0;
}

.header__nav {
  background-color: #4a4a4a;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 17px 20px;
  background-color: #484D55;
}

.header__nav-link {
  color: #fff;
  font-size: 16px; /* Увеличенный шрифт навигации */
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 20px 25px;
}
