img {
    width: auto;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.arrow__img {
    width: min-content !important;
}

button-prev.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

/* Car Component */
.car {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    touch-action: manipulation;
    -webkit-tap-highlight-color: currentcolor;
    z-index: 1;
}

.car-image-wrapper {
    position: relative;
    width: 100%;
}

.car__img {
    display: block;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.car__car-of-the-year {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 25%;
    z-index: 3;
}

.car__benefit {
    background-color: #4caa93;
    color: #fff;
    padding: 18px 65px;
    font-size: 33px;
    font-weight: 600;
    border-radius: 16px;
    position: absolute;
    transform: translateY(-40%);
    z-index: 2;
}


/* Swiper Styles */
.swiper {
    margin: 0 auto;
    position: block;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative !important;
    transition-property: transform;
}

.car__swiper {
    border-radius: 50px;
    width: 860px;
    height: 100%
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Car Modes */
.car__modes {
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: #ffffff80;
    display: flex;
    border-radius: 35px;
    overflow: hidden;
    z-index: 1;
}

.car__mode {
    cursor: pointer;
    height: 65px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car__mode--active:before {
    content: "";
    position: absolute;
    width: 55%;
    height: 100%;
    background-color: #fff;
    animation: activeMode-438ad11b .3s ease-in-out forwards;
    border-radius: 35px;
}

.car__mode--active img {
    filter: contrast(1);
}

.car__modes img {
    width: 40px;
    filter: contrast(0);
}

/* Colors */
.car__colors {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 30px 10px;
    background-color: #efefef;
    border-radius: 20px 20px 0 0;
    z-index: 4;
}

.car__color {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border:6px solid #efefef;
    background: linear-gradient(135deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
    overflow: hidden; /* Скрывает выходящие за границы содержимое */
    cursor: pointer;
    position: relative;
}

/* Information Section */
.car__info {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 50px 50px 0;
    max-width: 100%;
    min-width: 35%;
    margin-left: -60px;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.car__title {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 400;
}

.car__advantages {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.car__advantage {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 23px;
}

/* Buttons */
.car__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.car__btn {
    height: 70px;
    font-size: 26px;
    border-radius: 14px;
}

.base-button--grey {
    border-color: #afafaf;
    color: #000;
    background-color: #efefef;
}

.base-button--primary {
    border-color: transparent;
    color: #fff;
    background-color: #4caa93;
}

.base-button--bordered {
    border: 1px solid transparent;
}

.arrow-text {
    line-height: 0;
}

/* Media Queries */
@media (max-width: 1500px) {
    .car {
        padding-top: calc(0.0174 * 100vw + 3.837px);
    }

    .car__benefit {
        padding: calc(0.0093 * 100vw + 4.047px) calc(0.0407 * 100vw + 3.953px);
        font-size: calc(0.0151 * 100vw + 10.326px);
        border-radius: calc(0.007 * 100vw + 5.535px);
    }

    .car__swiper {
        width: calc(0.6279 * 100vw - 51.86px);
        border-radius: calc(0.0291 * 100vw + 6.395px);
    }

    .car__colors {
        gap: calc(0.0093 * 100vw + 1.047px);
        padding: calc(0.0116 * 100vw + 2.558px) calc(0.0174 * 100vw + 3.837px) calc(0.0058 * 100vw + 1.279px);
        border-radius: calc(0.0116 * 100vw + 2.558px);
    }

    .car__modes {
        bottom: calc(0.0174 * 100vw + 3.837px);
        left: calc(0.0291 * 100vw - 3.605px);
        border-radius: calc(0.0174 * 100vw + 8.837px);
    }

    .car__mode {
        height: calc(0.0407 * 100vw + 3.953px);
        padding: 0 calc(0.0116 * 100vw + 2.558px);
    }

    .car__mode--active:before {
        border-radius: calc(.0174418605* 100vw + 8.8372093023px);
    }

    .car__info {
        padding: calc(.0290697674* 100vw + -3.6046511628px) calc(.0813953488* 100vw + -22.0930232558px);
        gap: calc(.0174418605* 100vw + 3.8372093023px);
    }
}

@media (max-width: 640px) {
    .car {
        padding-top:15px;
        flex-direction: column
    }

    .car__car-of-the-year {
        position: absolute;
        width: 30%
    }

    .car__swiper {
        width: 100%;
        border-radius: calc(4.6875vw + 5px)
    }

    .car__benefit {
        padding: 8px 30px;
        font-size: 14px;
        border-radius: 8px
    }

    .car__modes {
        bottom: 15px;
        left: 15px
    }

    .car__modes img {
        width: 20px
    }

    .car__mode {
        padding: 0 10px;
        height: 30px
    }

    .car__info {
        margin-left: 0;
        align-content: center;
        border-radius: 0 0 calc(4.6875vw + 5px) calc(4.6875vw + 5px);
        margin-top: calc(-4.6875vw - 5px);
        padding: 26px 20px;
        padding-top: calc(25px + 4.6875vw) !important;
        text-align: center;
        align-items: center;
        gap: 20px
    }

    .car__title {
        order: 2;
        font-size: 30px
    }

    .car__advantages {
        order: 3;
        row-gap: 8px;
        column-gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: start
    }

    .car__advantage {
        width: calc(50% - 5px);
        gap: 7px;
        font-size: 12px
    }

    .car__advantage img {
        width: 14px
    }

    .car__btns {
        order: 4;
        gap: 12px
    }

    .car__btn {
        height: 50px;
        font-size: 18px;
        border-radius: 10px;
        width: 100%
    }
}


@media (max-width: 1500px) {
    .car {
        width: 95% !important;
        padding-top:calc(.0174418605 * 100vw + 3.8372093023px)
    }

    .car__swiper {
        border-radius: calc(.0290697674 * 100vw + 6.3953488372px);
        height: 100%;
    }

    .car__benefit {
        padding: calc(.0093023256 * 100vw + 4.0465116279px) calc(.0406976744 * 100vw + 3.9534883721px);
        font-size: calc(.0151162791 * 100vw + 10.3255813953px);
        border-radius: calc(.0069767442 * 100vw + 5.5348837209px)
    }

    .car__modes {
        bottom: calc(.0174418605 * 100vw + 3.8372093023px);
        left: calc(.0290697674 * 100vw + -3.6046511628px);
        border-radius: calc(.0174418605 * 100vw + 8.8372093023px)
    }

    .car__modes img {
        width: calc(.023255814 * 100vw + 5.1162790698px)
    }

    .car__mode {
        padding: 0 calc(.011627907 * 100vw + 2.5581395349px);
        height: calc(.0406976744 * 100vw + 3.9534883721px)
    }

    .car__mode--active:before {
        border-radius: calc(.0174418605 * 100vw + 8.8372093023px)
    }

    .car__colors {
        gap: calc(.0093023256 * 100vw + 1.0465116279px);
        padding: calc(.011627907 * 100vw + 2.5581395349px) calc(.0174418605 * 100vw + 3.8372093023px) calc(.0058139535 * 100vw + 1.2790697674px);
        border-radius: calc(.011627907 * 100vw + 2.5581395349px) calc(.011627907 * 100vw + 2.5581395349px) 0 0
    }

    .car__color {
        width: calc(.0139534884 * 100vw + 4.0697674419px);
        height: calc(.0139534884 * 100vw + 4.0697674419px);
        border-radius: calc(.0023255814 * 100vw + .511627907px)
    }

    .car__color--active:before {
        width: calc(.0197674419 * 100vw + 5.3488372093px);
        height: calc(.0197674419 * 100vw + 5.3488372093px);
        border-radius: calc(.0034883721 * 100vw + 1.7674418605px)
    }

    .car__info {
        padding: calc(.0290697674 * 100vw + -3.6046511628px) calc(.0813953488 * 100vw + -22.0930232558px);
        gap: calc(.0174418605 * 100vw + 3.8372093023px)
    }

    .car__title {
        font-size: calc(.0430232558 * 100vw + -9.5348837209px)
    }

    .car__advantages {
        gap: calc(.0197674419 * 100vw + -5.6511627907px)
    }

    .car__advantage {
        gap: calc(.011627907 * 100vw + 10.5581395349px);
        font-size: calc(.0127906977 * 100vw + 3.8139534884px)
    }

    .car__advantage img {
        width: calc(.0174418605 * 100vw + 8.8372093023px)
    }

    .car__btns {
        gap: calc(.011627907 * 100vw + 2.5581395349px)
    }

    .car__btn {
        height: calc(.0465116279 * 100vw + .2325581395px);
        font-size: calc(.0139534884 * 100vw + 5.0697674419px);
        border-radius: calc(.0046511628 * 100vw + 7.023255814px)
    }
}

:root {
    --swiper-navigation-size: 44px;
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 19.6px; /* Ширина кнопок */
    height: 29.4px; /* Высота кнопок */
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -14.7px; /* Центрирование кнопок по вертикали */
    background: transparent;
}

.swiper-button-prev {
    left: 40px;
}

.swiper-button-next {
    right: 40px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    display: none; /* Удаление стандартного контента swiper */
}

.swiper-button-prev .arrow-2,
.swiper-button-next .arrow-2 {
    cursor: pointer;
    height: 29.4px;
    width: 19.6px;
    position: relative;
}

.swiper-button-prev .arrow-2 {
    transform: scaleX(-1); /* Переворот по оси X */
}

.arrow-2-top,
.arrow-2-bottom {
    background: #4caa93;
    height: 4px; /* Увеличено: толщина стрелок */
    width: 24.5px;
    position: absolute;
    top: 14.7px;
    left: -7.35px;
}

.arrow-2-top {
    top: 15.75px;
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-2-top::after,
.arrow-2-bottom::after {
    background: #acacac;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-2-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-2-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.swiper-button-prev:hover .arrow-2-top::after,
.swiper-button-next:hover .arrow-2-top::after {
    left: 0;
    transition-delay: 0.15s;
}

.swiper-button-prev:hover .arrow-2-bottom::after,
.swiper-button-next:hover .arrow-2-bottom::after {
    right: 0;
    transition-delay: 0s;
}

